.PrincipalYoung {
  padding: 0;
  margin: 0;
  background-image: url('../../images/Fondo-young.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  height: 100%;
  width: 100%;
}
@media (max-width: 1440px) {
  .PrincipalYoung{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .PrincipalYoung {
    background-position: center; /* Centra la imagen en pantallas más pequeñas */ 
    height: 150vh; /* Ajusta la altura del contenedor en pantallas más pequeñas */
    padding: 5px; /* Añade un poco de relleno para asegurar que el contenido no se salga */
  }
}

