
.landingContainer {
  margin: 0;
  padding: 0;
  background-image: url("../../images/Fondo-Adult.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%; /* Asegura que ocupe todo el ancho */
}

@media (max-width: 768px) {
  .landingContainer {
    background-position: center; /* Centra la imagen en pantallas m치s peque침as */ 
    height: 150vh; /* Ajusta la altura del contenedor en pantallas m치s peque침as */
  }
}

