/* CSS del formulario - ContactForm.css */
.contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #6A1B9A, #1E88E5);
  }
  
  .contact-form {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
  }
  
  .form-title {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1em;
  }
  
  .phone-number-container {
    display: flex;
    align-items: center;
  }
  
  .phone-input {
    width: calc(100% - 50px);
    margin-left: 10px;
  }
  
  .submit-button {
    background-color: #1976D2;
    color: white;
    font-size: 1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0d47a1;
  }
  