/* Contenedor del carrito */
.cart-container {
  width: 15%;
  position: relative; /* Permite que el dropdown esté alineado al icono del carrito */
  justify-content:flex-start;
  display: flex;
}

/* Icono del carrito */
.cart-icon{
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  color: #ffffff;
}
.Kids-Style {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  color: #000000;
}

/* Dropdown del carrito */
.cart-dropdown {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 16px;
  width: 200px;
  z-index: 1000;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* Lista de ítems en el carrito */
.cart-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo de cada ítem del carrito */
.cart-dropdown li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.cart-dropdown li:last-child {
  border-bottom: none; /* Elimina el borde inferior del último elemento */
}

/* Botón para eliminar ítems */
.cart-dropdown button {
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 8px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.2s ease;
}

.cart-dropdown button:hover {
  background-color: #ff4b4b;
}

 /* Botón para cerrar el carrito */
/* .cart-dropdown .close-cart {
  background-color: #f9de70;
  color: #000000;
  border: none;
  padding: 8px 12px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.cart-dropdown .close-cart:hover {
  background-color: #f8c942;
}
 */