@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
.conten {
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./image/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.content-Register {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 550px;
  min-height: 600px;
  border-radius: 20px;
  background: transparent;
  backdrop-filter: blur(600px); /* Efecto de difuminado */
  border: 2px solid rgba(255, 253, 253, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8); /* Sombra */
  padding: 20px;
}

.Logo {
  width: 180px; /* Ajusta el tamaño del logo */
  margin-top: 10px;
  margin-bottom: 10px; /* Espacio entre el logo y el título */
}

.content-Register h1 {
  font-weight: 600;
  font-size: 35px;
  color: #fff;
  text-align: center; /* Alinea el título al centro */
  margin-bottom: 40px;
}

/* Grid para los inputs */
.formulario form {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-gap: 20px; /* Espacio entre los inputs */
  width: 100%;
}

/* Inputs que ocupan toda la fila dentro de .box */
.box input[type="email"],
.box input[type="submit"] {
  grid-column: span 2;
}

/* Estilo de los inputs dentro de .box */
.box input[type="text"],
.box input[type="email"],
.box input[type="password"] {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255);
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Hammersmith One", sans-serif;
}

/* Estilo del botón dentro de .box */
.box input[type="submit"] {
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #49408a;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box input[type="submit"]:hover {
  background-color: #8983b7;
}

/* Estilo de select dentro de .box */
.box select {
  font-family: "Hammersmith One", sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  color: #676767;
  font-size: 16px;
  box-sizing: border-box;
}

.box select:focus {
  background-color: #fff; /* Color de fondo al seleccionar */
}
