/* Estilos para el contenedor principal */
.videos-kids-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: auto;
    height: 500px; /* Ajustar altura para toda la sección */
}

/* Estilos para las pestañas */
.tabs {
    display: flex;
    margin-bottom: 10px;
    width: 80%;
    padding: 20px;
    gap: 20px;
    justify-content: center;
}

.tabs button {
    padding: 20px 50px;
    background-color: #8c52ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
}

.tabs button:hover {
    background-color: #8c52ff;
}

.tabs button:focus {
    outline: none;
    background-color: #4c09d1;
}

.tabs button.active {
    background-color:   #8c52ff;
}

/* Estilos para el contenido de las pestañas */
.conceptVideo {
    color: black;
    font-size: 1rem;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Se ajusta a la altura de la columna */
}

.tab-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.tab-content ul {
    list-style-type: none;
    padding: 0;
}

.tab-content ul li {
    margin: 10px 0;
    font-size: 16px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    color: black;
}

.titleVideo {
    text-align: center;
    padding-left: 2px;
    color: #8c52ff;
}

.video-wrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 80%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevenir clics directamente en el iframe */
}

.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.video-wrapper:hover .video-overlay {
    opacity: 1;
}

/* Estilos para el modal de pago */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h2 {
    margin-bottom: 15px;
    color: #333;
}

.modal-content p {
    margin-bottom: 20px;
    color: #555;
}

.modal-content button {
    background-color: #4c09d1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #3a06a1;
}
