.plansContainer {
    background-color: #0d161c;
    width: 100%;
    height: 100%;
    min-height: 750px;
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
}
.plansContainer-White{
    min-height: 700px;
    background-color: #2C3E50;
}
/* Título principal */
.plansContainer .head {
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    padding-bottom: 20px;
}

.highlight {
    color: #7564f4; /* Cambia a morado solo la palabra "educación" */
}
.highlight-White{
    color: #00A8E8;
}

.plansContainer p {
    font-size: 1rem;
    color: #989399;
    margin-bottom: 4rem;
}

/* Cuadro de cada plan */
.containerBox {
    background-color: #253541;
    width: 350px;  /* Ajustamos para que se vea bien en pantallas más pequeñas */
    border-radius: 1rem;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.containerBox-White{
    background-color: #fff;
}

.paraContainer {
    padding-top: 1rem;
}

.containerBox img {
    height: 7rem;
    width: 10rem;
    padding: 0.5rem;
}

.plansContainer h3 {
    color: white;
    font-size: 2rem;
}

.plansBox p {
    color: rgb(255, 255, 255);
    width: 80%;
    margin: auto;
    height: 5rem;
}

/* Reajustamos el grid para mayor flexibilidad en diferentes tamaños de pantalla */
.plansBox {
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 150px;
    justify-content: center;
    margin: 40px 200px;
}

/* Ajuste para pantallas 1440px */
@media (max-width: 1440px) {


    .containerBox {
        height: 400px;
        width: 320px;  /* Ajustamos el ancho de los cuadros */
    }

    .plansContainer .head {
        font-size: 2.5rem;  /* Reducimos el tamaño del título */
    }
}

/* Ajuste para pantallas 768px (tablets) */
@media (max-width: 768px) {
    .plansContainer{
        height: 100px;
    }
    .plansBox {
        gap: 30px;
        margin: 0;
    }

    .containerBox {
        height: 350px;
        width: 300px;  /* Ocupa el 90% del ancho de la pantalla */
        margin: 0 auto; /* Centra los cuadros en pantallas pequeñas */
    }

    .plansContainer .head {
        font-size: 2.2rem;  /* Ajustamos el tamaño del título */
    }

    .plansContainer p {
        font-size: 0.9rem;  /* Reducimos el tamaño del texto */
    }
}

/* Ajuste para pantallas pequeñas (smartphones) - 390px */
@media (max-width: 480px) {
    .plansContainer{
        height: 70rem;
    }
    .plansBox {
        flex-direction: column;
        gap: 30px;
        margin: 0;
    }

    .containerBox {
        height: 250px;
        width: 200px;  /* Ocupa el 90% del ancho de la pantalla */
        margin: 0 auto; /* Centra los cuadros en pantallas pequeñas */
    }

    .plansContainer .head {
        font-size: 1.8rem;  /* Reducimos más el tamaño del título */
    }
    .plansContainer h3{
        margin: 10px 0;
    }
    .plansContainer p {
        font-size: 0.8rem;  /* Ajustamos el tamaño del texto */
    }

    .containerBox img {
        height: 4rem;
        width: 4rem;  /* Reducimos el tamaño de la imagen */
    }
}


/* Efecto hover en los cuadros */
.containerBox:hover {
    transform: scale(1.05);  /* Aumenta el tamaño en hover */
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);  /* Sombra de hover */
}
