.manage-courses-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

/* Estilo del formulario de creación de curso */
.manage-courses-form {
  width: 60%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.manage-courses-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.manage-courses-form label {
  display: block;
  margin-bottom: 5px;
}

.manage-courses-form input[type="text"], .manage-courses-form input[type="file"], 
.manage-courses-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.manage-courses-form button {
  width: 100%;
  padding: 15px;
  background-color: #218838;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-courses-form button:hover {
  background-color: #1c742f;
}

/* Sección de cursos creados */
.courses-created {
  width: 60%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.courses-created .titulo  {
  text-align: center;
}

/* Cada curso en la lista */
.course-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.course-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.course-info h4 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.course-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

/* Botón para editar el curso */
.edit-btn {
  padding: 8px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #218838;
}
