/* CSS del formulario - ContactForm.css */
.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
  background: white;
  flex-wrap: wrap;
}

.left-text {
  max-width: 40%;
  font-family: 'Poppins', sans-serif;
  padding: 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight-text {
  font-size: 3em;
  color: #1c154f;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin-bottom: 15px;
}

.text-paragraph {
  font-size: 1.4em;
  line-height: 1.6;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  color: #333;
}

.bold-text {
  font-weight: bold;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.contact-form {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
}

.form-title {
  font-family: 'Lato', sans-serif; /* Títulos del formulario */
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.form-label{
  font-family: 'Poppins', sans-serif; /* Fuente limpia y moderna */
  margin: 20px 10px;

}
.form-group {
  margin-top: ;
  margin-bottom: 15px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.phone-number-container {
  display: flex;
  align-items: center;
}

.phone-input {
  width: calc(100% - 50px);
  margin-left: 10px;
}

.submit-button {
  background-color: #1c154f;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.2em;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0d47a1;
}

@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .left-text, .contact-form-container {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
  }

  .highlight-text {
    font-size: 2.5em;
  }

  .text-paragraph {
    font-size: 1.2em;
  }
}

/* Estilo para la superposición (overlay) */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegura que esté encima de otros elementos */
}

/* Estilo para el cuadro de advertencia */
.warning-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

/* Texto dentro del cuadro */
.warning-box p {
  margin: 0 0 10px 0;
  font-size: 1rem;
  color: #333;
}

/* Botón para cerrar el cuadro */
.close-button {
  background-color: #8c52ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #350791;
}


