@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chau+Philomene+One&display=swap');

.sectionContainer {
    margin: auto;
    justify-content: center;
    align-items: center;
}

.phrase {
    padding-top: 2rem;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.title2 {
    padding-top: 2rem;
    color: #9484bc;
}

.titlePhrase {
    color: white;
    font-size: 4rem;
    text-align: center;
}

.paragraphContainer {
    color: #a6a6a6;
    width: 28rem;
    margin: auto;
    font-size: 1.3em;
    font-family: 'Chau Philomene One', sans-serif;
    text-align: center;
    padding-top: 20px;
}

.buttonSection {
    display: flex;
    width: 40%;
    margin: auto;
    padding-top: 20px;
}

.buttonSection button {
    font-family: Hamme;
    margin: 1rem;
    border-radius: 1.5rem;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

.btnTwo {
    color: black;
    background-color: #ffde59;
}