.HeroSection {
  background-image: url("../images/Fondo-HeroSection.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
}
/* Contenedor principal */
.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-top: 200px;
    max-width: 1000px; /* Limitar el ancho del contenedor */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

/* Estilo del título */
.hero-container h1 {
  font-size: 3rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

/* Estilo del subtítulo */
.hero-container p {
  color: #a6a8ac;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 40px;
  max-width: 700px;
}

/* Botón de llamada a la acción */
.HeroSection-button {
  background-color: white;
  width: 50%;
  color: #0e3b67;
  padding: 15px 30px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.HeroSection-button:hover {
  background-color: #f9de70;
  color: black;
}

/* Responsivo */
@media (max-width: 768px) {
  .hero-container h1 {
    font-size: 2rem;
  }

  .hero-container p {
    color: #a6a8ac;
    font-size: 1rem;
    max-width: 100%;
  }

  .HeroSection-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}
