
.headerStructure {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    font-family: 'Hammersmith One', sans-serif;
    width: 100%;
  }
  
  .logo2 {
    display: flex;
    justify-content: flex-start;
  }
  
  .logo2 img {
    width: 10rem;
    margin-left: 10px;
  }
  
  .listHeader {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }

  .listHeader a {
    font-size: 1.1rem;
    text-align: center;
  }
  
  .ctaList {
    padding-left: 2rem;
    display: flex;
    padding: 0.5rem;
    justify-content: flex-end;
    flex-grow: 1;
  }
  
  .ctaList > div {
    margin-left: 165px;
  }
  
  /* Botón de login */
  .login button {
    padding: 10px;
    background-color: #ae9cdb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
  }

  .registerButton button {
    padding: 10px;
    background-color: #ae9cdb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 80%;
  }

  /* Estilo para los enlaces del header */
.headerLink {
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
  }
  
  
  