@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
.contenRegister {
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content-Register {
  display: flex;
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Centra los elementos horizontalmente */
  width: 550px;
  height: 720px;
  border-radius: 20px;
  background: #fff;
  border: 2px solid rgba(255, 253, 253, 0.2);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8); /* Sombra */
  padding: 20px;
}

.LogoRegister {
  width: 180px; /* Ajusta el tamaño del logo */
  height: 100px;
}

.content-Register h1 {
  font-weight: 600;
  font-size: 35px;
  color: #000000;
  text-align: center; /* Alinea el título al centro */
  margin-bottom: 40px;
}
.FormularioRegister {
  width: 500px;
}
/* Grid para los inputs */
.FormularioRegister .boxsRegister {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-gap: 20px; /* Espacio entre los inputs */
  width: 100%;
}
.input-contend{
  position: relative;
  grid-column: span 2;
}

/* Inputs que ocupan toda la fila dentro de .box */
.boxsRegister input[type="email"] ,
.boxsRegister input[type="submit"]{
  grid-column: span 2;
}

/* Estilo de los inputs dentro de .box */
.boxsRegister input[type="text"],
.boxsRegister input[type="email"],
.boxsRegister input[type="password"] {
  position: relative;
  width: 100%;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255);
  color: #333;
  font-size: 16px;
  box-sizing: border-box;
  font-family: "Hammersmith One", sans-serif;
}
/* Estilo de select dentro de .box */
.FormularioRegister select {
  font-family: "Hammersmith One", sans-serif;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  color: #676767;
  font-size: 16px;
  box-sizing: border-box;
}

.boxsRegister input[type="date"] {
  font-family: "Hammersmith One", sans-serif;
  width: 100%;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
  color: #676767;
  font-size: 16px;
  box-sizing: border-box;
}
/* Estilo del botón dentro de .box */
.boxsRegister input[type="submit"] {
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #000000;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.boxsRegister input[type="submit"]:hover {
  background-color: #616161;
}

.alredyRegister {
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 16px;
  font-family: "Hammersmith One", sans-serif;
  margin: 20px 0 15px;
}
.alredyRegister label {
  color: #000000;
  margin-right: 10px;
}

.password-box-Register {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.password-box-Register input {
  width: 100%;
  padding-left: 10px;
  padding-right: 40px; /* Aseguramos espacio para el icono */
}

.toggle-password-Register {
  position: absolute;
  top: 55%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.error-message {
  position: absolute;
  color: red;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 0; /* Reducimos el margen inferior */
  padding-left: 5px; /* Un pequeño padding para mantener el espacio */
  grid-column: span 2;
}

/* Ajustar el contenedor para que no afecte la disposición del formulario */
.input-wrapperRegister {
  grid-column: span 2; /* Aseguramos que el input de edad ocupe dos columnas */
  display: flex;
  flex-direction: column;
}

.back-arrow-Register {
  position: absolute;
  top: 20px;
  left: -50px;
  width: 10%;
  font-size: 24px;
  color: black;
  cursor: pointer; /* Cambia el cursor a pointer al pasar sobre la flecha */
  transition: transform 0.2s ease-in-out; /* Efecto de transición al hacer hover */
}

.back-arrow-Register:hover {
  transform: scale(1.2); /* Efecto de agrandamiento al pasar el cursor */
}
/* ----------- Media Queries para Responsividad ----------- */

/* Responsivo para pantallas grandes (1440px) */
@media (max-width: 1440px) {
  .content-Register {
    width: 600px;
    height: 720px;
  }

  .LogoRegister {
    width: 160px;
    height: 90px;
  }

  .content-Register h1 {
    font-size: 30px;
  }

  .boxsRegister input,
  .boxsRegister select {
    font-size: 15px;
  }

  .boxsRegister input[type="submit"] {
    font-size: 15px;
  }
}

/* Responsivo para pantallas medianas (768px) */
@media (max-width: 768px) {
  .content-Register {
    width: 400px;
    height: 700px;
  }

  .LogoRegister {
    width: 140px;
    height: 80px;
  }
  .FormularioRegister{
    width: 400px;
  }
  .back-arrow-Register {
    left: 0;
  }

  .content-Register h1 {
    font-size: 28px;
  }

  .boxsRegister input,
  .boxsRegister select {
    font-size: 14px;
  }

  .boxsRegister input[type="submit"] {
    font-size: 14px;
  }
}

/* Responsivo para pantallas pequeñas (390px) */
@media (max-width: 400px) {
  .content-Register {
    
    width: 300px;
  }

  .LogoRegister {
    width: 120px;
    height: 70px;
  }
   .FormularioRegister{
    width: 300px;
   }
  .content-Register h1 {
    font-size: 24px;
  }

  .boxsRegister input,
  .boxsRegister select {
    font-size: 13px;
  }

  .boxsRegister input[type="submit"] {
    font-size: 13px;
  }
}
