.headerStructure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 20px;
  margin-left: 150px;
  font-family: "Hammersmith One", sans-serif;
  width: 90%;
}

.logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo2 img {
  width: 12rem;
  
}

.listHeader {
  flex-grow: 2;
  padding: 0 50px ;
  display: flex;
  justify-content: center;
}

.listHeader a {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  margin: 0 40px;
  font-size: 1rem;
  text-align: center;
}
.headerLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffc107; /* Color de la línea */
  bottom: -5px; /* Ubicación debajo del texto */
  left: 0;
  transition: width 0.3s ease-in-out; /* Animación suave */
}
.headerLink:hover::after {
  width: 100%; /* Expande la línea al 100% */
}

/* Estilo para los enlaces del header */
.headerLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.ctaList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px; /* Añade espacio uniforme entre elementos */
}

.ctaList > div {
  margin-left: 20px;
}

.login{
  padding: 0 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.5); /* Línea vertical con transparencia */
  margin-right: 10px;
}
/* Botón de login y register */
.login button,
.Register button {
  font-family: "Hammersmith One", sans-serif;
  padding: 10px;
  margin-left:40px ;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 120%;
}
.login button:hover,
.Register button:hover {
  color: black;
  background-color: #ffde59;
}
