.headerStructure {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 20px 0;
  margin-left: 120px;
  font-family: "Hammersmith One", sans-serif;
  width: 90%;
  /* position: relative;  */ /* Asegura que los elementos hijos con position absolute se posicionen con respecto a este */
  z-index: 1000; /* Asegura que el header esté siempre visible sobre otros elementos */
}
.kids-version{
  margin-left: 100px;
}
/* Botón hamburguesa para móviles */
.hamburger-menu {
  display: none; /* Se oculta en pantallas grandes */
  cursor: pointer;
}

.hamburger-icon {
  font-size: 24px;
  color: white;
}
.hamburguer-kids{
  color: black;
}
.hamburguer-white{
  color: black;
}
.logo2 {
  content: url("../../images/Logo-White.svg");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
}
.kids-logo{
  content: url('../../images/LogoKids.svg');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
}

.white-logo{
  content:url('../../images/Logo-black.svg') ;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
}

.listHeader {
  flex-grow: 2;
  padding: 0 50px ;
  display: flex;
  justify-content: center;
}

.listHeader a {
  position: relative; /* Necesario para posicionar el pseudo-elemento */
  margin: 0 40px;
  font-size: 1rem;
  text-align: center;
}

/* Estilos cuando el menú está abierto */
.listHeader.open {
  position: absolute;
  margin: 0;
  top: 100%; /* Justo debajo del header */
  left: 0;
  width: 80%; /* Ocupar todo el ancho de la pantalla */
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  z-index: 0; /* Asegura que esté por encima del contenido de la página */
  padding: 10px 0;
}

.listHeader.open a {
  color: #fff; /* Color blanco para los enlaces */
  margin: 10px 0;
  font-size: 1.2rem; /* Aumentar un poco el tamaño de la fuente en móviles */
  transition: color 0.3s ease;
}

.listHeader.open a:hover {
  color: #ffc107; /* Cambiar color al pasar el mouse */
}
.headerLink::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffc107; /* Color de la línea */
  bottom: -5px; /* Ubicación debajo del texto */
  left: 0;
  transition: width 0.3s ease-in-out; /* Animación suave */
}
.headerLink:hover::after {
  width: 100%; /* Expande la línea al 100% */
}

/* Estilo para los enlaces del header */
.headerLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}
.kids-link{
  color: black;
}
.white-link{
  color: black;
}
.ctaList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 100px;
  gap: 30px; /* Añade espacio uniforme entre elementos */
}

.ctaList > div {
  margin-left: 30px;
}


.login{
  padding: 0 10px;
  border-left: 1px solid rgb(255, 255, 255); /* Línea vertical con transparencia */
  margin-right: 10px;

}
.login-white{
  border-left: 1px solid rgba(0, 0, 0, 0.5); /* Línea vertical con transparencia */
}
.login-kids{
  border-left: 1px solid rgba(0, 0, 0, 0.5); /* Línea vertical con transparencia */
}
/* Botón de login y register */
.login button,
.Register button {
  font-family: "Hammersmith One", sans-serif;
  padding: 10px;
  margin-left:40px ;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
.login-kids button,
.register-Kids button{
  color: black;
}
.login-white button,
.register-white button{
  color: black;
}
.login button:hover,
.Register button:hover {
  color: black;
  background-color: #ffde59;
}
/* ajuste de tamaño */
@media (max-width: 1440px) {
.headerStructure{
  width: 90%;
  margin-left: 50px;
}
.logo2 {
  width: 8rem;
  margin-right: 10px;
}
.listHeader{
  padding: 0;
}
.listHeader a {
  font-size: 0.5 rem;
  margin: 10px 20px;
}

.ctaList{
  margin-right: 0;
}
.login button,
.Register button {
  font-size: 10px;
  margin-left:0px;
  width: 100%;
}
}
@media (max-width: 1000px) {
  .headerStructure {
    width: 80%; /* Ajuste del ancho para pantallas más pequeñas */
    margin-left: 20px; /* Ajuste del margen para centrado */
    padding: 10px; /* Reducir el padding para optimizar el espacio */
  }

  .logo2, .kids-logo, .white-logo {
    width: 8rem; /* Ajustar el tamaño del logo */
    margin-right: 1.2rem; /* Ajustar el espacio a la derecha del logo */
  }

  .listHeader a {
    font-size: .8rem; /* Reducir el tamaño de las fuentes para los enlaces */
    margin: 0 10px; /* Ajustar los márgenes de los enlaces */
  }

  .listHeader.open {
    left: 150px; /* Ajuste de posición para pantallas de 1000px */
    top: 12%; /* Ajuste de la posición superior */
  }

  .ctaList {
    margin-right: 10px; /* Ajustar el margen derecho para centrar los elementos */
    gap: 20px; /* Reducir el espacio entre los elementos */
  }
  .ctaList > div{
    margin-left: 10px;
  }

  .login button,
  .Register button {
    font-size: 10px; /* Ajustar el tamaño de los botones */
    padding: 5px 8px; /* Reducir el padding */
    margin-left: 5px; /* Ajustar el margen izquierdo */
  }

}
/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .headerStructure {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .logo2 {
    margin-left: 2rem;
    width: 10rem;
    margin-right: 5rem;
  }

  .hamburger-menu {
    display: block; /* Mostrar el botón de hamburguesa en pantallas pequeñas */
 
  }


  .listHeader {
    display: none; /* Ocultar el menú cuando no está abierto */
  }

  .listHeader.open {
    top: 10%;
    left: 160px;
  }
  .listHeader a {
    font-size: 1.2rem;
    margin: 10px 0;
  }

  .ctaList {
    justify-content: center;
    margin-right: 20px;
  }

  .login button,
.Register button {
  font-size: 14px;
  width: 120%;
}
}

/* Estilos para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
  .headerStructure {
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  .kids-version{
    margin-left: 0;
  }

  .logo2 {
    content: url('../../images/Logo-White-mobil.svg');
    width: 3rem;
    margin-right: 5rem;
  }
  .kids-logo{
    content: url('../../images/Logo-black-Movil.svg');
    width: 3rem;
    margin-right: 5rem;
  }
  .white-logo{
    content: url('../../images//Logo-black-Movil.svg');
    width: 3rem;
    margin-right: 5rem;
  }
  .hamburger-menu {
    display: block; /* Mostrar el botón de hamburguesa en pantallas pequeñas */
    width: 10%px;
 
  }
  .hamburger-icon {
    font-size: 10px;
    color: white;
  }
  .ctaList{
    gap: 0px;
  }
  .ctaList > div {
    margin: 0px;
  }
  .listHeader {
    flex-direction: column;
    padding: 0;
  }
  
  .hamburger-icon {
    font-size: 20px;
  }
  .hamburguer-kids{
    font-size: 20px;
    color: black;
  }
  .hamburguer-white{
    font-size: 20px;
    color: black;
  }
  .listHeader a {
    font-size: 1rem;
  }
  .listHeader.open {
    top: 10%;
    left: 100px;
  }

  .login button,
  .Register button {
    font-size: 10px;
    padding: 10px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .headerStructure {
    margin-top: 1rem;
    margin-left: 0;
  }
  .kids-version{
    margin-left: 0;
  }

  .logo2 {
    content: url('../../images/Logo-White-mobil.svg');
    width: 2rem;
    margin-left: 0;
    margin-right: 2rem;
  }
  .kids-logo{
    content: url('../../images/Logo-black-Movil.svg');
    width: 2rem;
    margin-left: 0;
    margin-right: 2rem;
  }
  .white-logo{
    content: url('../../images//Logo-black-Movil.svg');
    width: 2rem;
    margin-left: 0;
    margin-right: 2rem;
  }
  .hamburger-menu {
    display: block; /* Mostrar el botón de hamburguesa en pantallas pequeñas */
    width: 10px;
 
  }
  .hamburger-icon {
    font-size: 10px;
    color: white;
  }
  .ctaList{
    gap: 0px;
  }
  .ctaList > div {
    margin: 0px;
  }
  .listHeader {
    flex-direction: column;
    padding: 0;
  }
  
  .hamburger-icon {
    font-size: 20px;
  }
  .hamburguer-kids{
    font-size: 20px;
    color: black;
  }
  .hamburguer-white{
    font-size: 20px;
    color: black;
  }
  .listHeader a {
    font-size: 1rem;
  }
  .listHeader.open {
    top: 10%;
    left: 100px;
  }

  .login button,
  .Register button {
    margin-right: 1rem;
    font-size: 8px;
    padding: 10px;
    width: 100%;
  }
}